* {
  box-sizing: border-box;
}

body {
    --background-color: white;
    --text-color: black;
    --elements-color: white;
    margin: 0;
    font-family: Nunito, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}
body.dark {
    --background-color: hsl(207, 26%, 17%); 
    --text-color: white;
    --elements-color: hsl(209, 23%, 22%);
}

.country-details-container {
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 32px;
}

.back-button {
    padding: 6px 24px;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--elements-color);
}

.country-details {
    display: flex;
    gap: 100px;
    margin-top: 64px;
}

.country-details img {
   width: 40%;
  height: auto;
    border: 1px solid #ddd;
}

.details-text {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    column-gap: 64px;
    max-height: 190px;
    flex-wrap: wrap;
}
.details-text p {
    margin: 0;
}
.border-countries{
    margin-top: 48px;
    display: flex;
       align-items: flex-start;
    flex-wrap: wrap;
    gap: 8px;
}

.border-countries a {
    padding: 4px 16px;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font-size: 14px;
      background-color: var(--elements-color);
}
@media(max-width: 1000px){
   .country-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
   margin-top: 32px;
        gap: 16px;
        margin-left: 20px;
}
    .details-text {
        max-height: unset;
    }

    .country-details img {
        width: 100%;
        max-width: 400px;
       
    }
}
